.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}


.content {
  min-height: 100vh;
  padding-top: 30px;
  background: #bababa;
  overflow-x: scroll;
  .main-content{
    border: 1px solid #bababa;
    background-color: ivory;
  }
}